<ngb-carousel *ngIf="popularProduct">
	@for (item of popularProduct; track $index) {
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="product-header-img img-fluid" src="{{item.image}}" alt="Random first slide" />
			<div class="z-2 carousel-caption">
				<h3>{{item.name}}</h3>
			</div>
		</div>
	</ng-template>
	}
</ngb-carousel>

<div class="body pt-4 text-uppercase">
    <div class="container-fluid">
        <h1>Trendy Products</h1>
        <div class="product-grid">
			@for (item of trendyProduct; track $index) {
            <div class="product-card">
                <img src="{{item.image}}" alt="Trendy Watch" class="product-image">
                <div class="product-info">
                    <h2 class="product-name">{{item.name}}</h2>
                    <p class="product-price">{{item.price}}</p>
                    <p class="product-price">{{item.color}}</p>
                    <div class="product-buttons d-flex ">
                        <button class="btn">View Details</button>
                        <button class="btn">Add to Cart</button>
                    </div>
                </div>
            </div>
			}
        </div>
    </div>
</div>