<div class="list-main">
    <div class="product-listing-container py-4">
        <div class="container">
            <h1 class="brand-text text-center mb-4">LuxMart Products</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                <div *ngFor="let item of prductList" class="col">
                    <div class="card h-100 product-card">
                        <img src={{item.image}} alt="Luxury Watch" class="card-img-top product-image">
                        <div class="card-body product-details">
                            <h2 class="card-title product-name">{{item.name}}</h2>
                            <p class="card-text product-price">{{item.price}}</p>
                            <p class="card-text product-color">{{item.color}}</p>
                            <button class="btn btn-primary w-100">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
